<div id="sub-header-dashboard" class="bg-secondary pt-2 pb-2" style="background-color: #f7f8fb!important;   border-bottom: 1px solid #e7ebf3;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-4 d-flex justify-content-start">
        <h5>Dashboard
          <% if @page_title %>
          <span class="text-dark">
            > <%= @page_title %>
          </span>
          <% end %>
        </h5>
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <% if @groups %>
          <%= link_to "Novo Grupo", new_group_path, class: 'drop-down__toggle hk-button--secondary pr1' %>
        <% elsif @group %>
          <%= link_to "Novo Evento", new_group_player_path, class: 'drop-down__toggle hk-button--secondary pr1' %>
          <%= link_to "Novo Jogador", new_group_player_path, class: 'drop-down__toggle hk-button--secondary pr1' %>
        <% end %>
      </div>
    </div>
  </div>
</div>